node_modules
.env
.env.local
coverage
coverage.json
typechain
client/images/*

#Hardhat files
cache
artifacts
.next
./client/.next
client/.next
client/node_modules/*
images
metadata
generator
hashlips_art_engine-main